@use '../../styles/variables.scss' as *;

.whyWe {
  padding: 10% 13%;
  color: $text-light;

  @include respond-to(tablet) {
    padding: 5% 5%;
  }

  @include respond-to(mobile) {
    padding: 10% 10%;
  }

  @include respond-to(320) {
    padding: 3rem 3%;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-weight: 500;
    font-family: 'Gilroy', $font-main;
    color: #110F0E;
    background-color: #fff;
    max-width: 260px;

    @include respond-to(tablet) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    @include respond-to(mobile) {
      font-size: 1.5rem;
    }

    @include respond-to(320) {
      font-size: 1.2rem;
    }
  }
}

.content {
  display: flex;
  gap: 4rem;
  align-items: stretch;
  justify-content: space-between;

  @include respond-to(tablet) {
    flex-direction: column;
    gap: 2rem;
  }

  @include respond-to(mobile) {
    gap: 1.5rem;
  }

  @include respond-to(320) {
    gap: 1rem;
  }
}


.image {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%; // ширина = ширине контейнера
    height: 100%; // высота = высоте контейнера
    object-fit: cover; // обрезает края, чтобы заполнить всю область без деформации
    object-position: center;
    border-radius: 0;

    @include respond-to(tablet) {
      width: 100%;
      height: auto;
    }
  }


  .designerTitle {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Gilroy', $font-main;
    color: #110F0E;
    text-align: center;
    padding: 1rem 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: -1px;
    width: 100%;
    box-sizing: border-box;
    margin-top:20px;

    @include respond-to(tablet) {
      font-size: 1.2rem;
      padding: 0.8rem 0;
    }

    @include respond-to(mobile) {
      font-size: 1rem;
      padding: 0.6rem 0;
    }

    @include respond-to(320) {
      font-size: 0.9rem;
      padding: 0.5rem 0;
    }
  }
}

.designerTitle {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Gilroy', $font-main;
  color: #110F0E;
  text-align: center;
  padding: 1rem 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin-top: -1px;
  width: 100%;
  box-sizing: border-box;
  margin-top:20px;

  @include respond-to(tablet) {
    font-size: 1.2rem;
    padding: 0.8rem 0;
  }

  @include respond-to(mobile) {
    font-size: 1rem;
    padding: 0.6rem 0;
  }

  @include respond-to(320) {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
}

.stats {
  flex: 0 0 20%; // ширина фиксирована
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent; // ← убираем фон, если нужен только внутри статов

  .stat {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.25rem;
    font-size: 1.27rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to(mobile) {
      gap: 0.5rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include respond-to(320) {
      gap: 0.5rem;
      margin-bottom: 0.8rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .number {
    min-width: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "Idealist Sans", sans-serif;
    font-weight: 400;
    color: #110F0E;
    border-radius: 0;
    border: 1px solid #110F0E;
    background-color: #F5F3F2;

    @include respond-to(tablet) {
      width: 60px;
      height: 60px;
      font-size: 2rem;
    }

    @include respond-to(mobile) {
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
    }

    @include respond-to(320) {
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
    }
  }

  .label {
    font-size: 1rem;
    color: #333;
    font-family: 'Idealist Sans', $font-main;
    font-weight: 400;

    @include respond-to(tablet) {
      font-size: 0.9rem;
    }

    @include respond-to(mobile) {
      font-size: 0.85rem;
    }

    @include respond-to(320) {
      font-size: 0.8rem;
    }
  }
}

.text {
  flex: 1; // ← растягивается на оставшееся пространство
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  h3 {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
    font-weight: 500;
    font-family: 'Gilroy', $font-main;
    color: #110F0E;
    line-height: 100%;
    letter-spacing: 0%;

    @include respond-to(tablet) {
      font-size: 1.2rem;
    }

    @include respond-to(mobile) {
      font-size: 1rem;
    }

    @include respond-to(320) {
      font-size: 0.9rem;
    }
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #333;
    font-family: 'Idealist Sans', $font-main;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;

    @include respond-to(tablet) {
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }

    @include respond-to(mobile) {
      font-size: 0.85rem;
    }

    @include respond-to(320) {
      font-size: 0.8rem;
    }
  }

  .button {
    background: linear-gradient(90deg, #110F0E 0%, #353434 100%);
    color: $text-light;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
    font-size: 1.3rem;
    cursor: pointer;
    transition: none;
    font-family: 'Gilroy', $font-main;
    font-weight: 400;

    @include respond-to(mobile) {
      font-size: 0.9rem;
      padding: 10px 20px;
    }

    @include respond-to(320) {
      font-size: 0.85rem;
      padding: 10px 20px;
    }
  }
}