@use '../../styles/variables.scss' as *;

.chatOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3000;
  padding: 1rem;
}

.chatContainer {
  position: relative;
  width: 380px;
  height: 625px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &.open {
    transform: translateX(0);
  }


  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
    border-radius: 10px;
  }

  /* Фон с плюсиками поверх белого */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../assets/images/background-pattern.png') repeat;
    z-index: 2;
    opacity: 0.2;
    border-radius: 10px;
  }
}

.chatHeader {
  background-color: #110F0E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 3;

  .chatLogo {
    height: 40px;
    width: auto;
    margin-right: 3rem;
  }

  .chatTitle {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0;
  }

  .closeButton {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .closeIcon {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

.chatBody {
  padding: 1.5rem;
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  z-index: 3;

  .message {
    background: #f5f5f5;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    max-width: 80%;
    align-self: flex-start;

    p {
      margin: 0;
      font-size: 14px;
      color: #333;
    }
  }
}

.chatForm {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #ddd;
  position: relative;
  z-index: 3;
  background-color: #110F0E;

  .chatInput {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    font-size: 14px;
    outline: none;
    transition: border 0.2s;
    background: #fff;
  }

  .sendButton {
    border: none;
    color: #000;
    padding: 0px 10px 3px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 800;
    margin-left: 0.5rem;
    background-color: #fff;
    transition: background 0.2s;

  }
}