@use '../../styles/variables.scss' as *;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: $background-dark;
  color: $text-light;
}

/* Добавляем класс для контента, чтобы он не перекрывался хедером */
.contentShift {
  margin-top: 72px; /* Примерная высота хедера — можно рассчитать динамически */
}

.nav,
.contactInfo {
  display: flex;
  align-items: center;
}

.navLink {
  background: none;
  border: none;
  color: inherit;
  padding: 0 20px;
  cursor: pointer;
}

.logo img {
  height: 40px;
  cursor: pointer;
}

.contactInfo {
  gap: 2rem;
}

.phone {
  font-size: 1.1rem;
}

.icons {
  display: flex;
  gap: 1rem;

  img {
    height: 28px;
    cursor: pointer;
  }
}

/* BURGER */
.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }
}

/* MOBILE */
@media (max-width: 750px) {
  .nav,
  .contactInfo {
    display: none;
  }

  .burger {
    display: block;
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1100;
}

/* MENU (СПРАВА) */
.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 280px;
  background: $background-dark;
  z-index: 4000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  padding: 1rem;
}

.close {
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 24px;
  }
}

.phoneText {
  font-size: 1rem;
}

.socialIcons {
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 30px;
  width: 100%;

  img {
    height: 44px;
  }
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;

  button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2rem;
    text-align: right;
    cursor: pointer;
    padding: 0.5rem 0;
    width: fit-content;
  }
}

.contactDetails {
  display: flex;
  
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  padding: 1rem;

  div {
    font-size: 0.95rem;
    text-align: left;
  }
}