@use '../../styles/variables.scss' as *;

.mapBlock {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  height: 400px;
}

.mapContainer {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  @include respond-to(tablet) {
    max-width: 600px;
  }

  @include respond-to(mobile) {
    max-width: 100%;
  }
}

.mapIframe {
  width: 100%;
  height: 400px;
  border: none;
  filter: grayscale(100%);

}
